<!DOCTYPE html>
<html>
<head>
	<title>
		ShoeKart
	</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>

	<script type="text/javascript" src="../js/angular.min.js"></script>
	<script type="text/javascript" src="../app.js"></script>
	<script type="text/javascript" src="../controllers/shoeMartCtrl.js"></script>
	<script type="text/javascript" src="../services/ShoeDataService.js"></script>

	<style type="text/css">
		*{
			margin: 0px;
			padding: 0px;
			font-family: 'Roboto', sans-serif;
		}
		header {
			text-align: left;
			padding: 15px;
			background-color: #42A5F5;
			font-size: 18px;
		}

		#data-list {
			float: left;
			padding: 10px;
			border: 1px solid grey;
			list-style-type: none;

		}

		.filled-star {
			color: #FFB500;
			/*background-color: red;*/
		}
		.unfilled-star {
			color: grey;
		}

	</style>
</head>
<body ng-app="ShoeApp">
	<header>
		ShoeKart
	</header>
	<div id="main-content" ng-controller="shoeMartCtrl">
		<ul>
			<li id="data-list" ng-repeat="shoe in shoes_data">
				<img src="{{shoe.picture}}" />
				<span ng-repeat="star in range(shoe.ratings) track by $index">
					<i class="fa fa-star-o filled-star" aria-hidden="true"></i>
				</span>
				<span ng-repeat="star in range(5-shoe.ratings) track by $index">
					<i class="fa fa-star-o unfilled-star" aria-hidden="true"></i>
				</span>
			</li>
		</ul>
	</div>
</body>
</html>