<!DOCTYPE html>
<html>
<head>
	<title>
		ShoeKart
	</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="../js/angular.min.js"></script>
	<style type="text/css">
		*{
			margin: 0px;
			padding: 0px;
			font-family: 'Roboto', sans-serif;
		}
		header {
			text-align: left;
			padding: 15px;
			background-color: #42A5F5;
			font-size: 18px;
		}
	</style>
</head>
<body ng-app="ShoeApp">
	<header>
		ShoeKart
	</header>
	<div id="main-content">
		
	</div>
</body>
</html>